<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<div class="container">
  <h1>User Details</h1>
  <p id="notice"><%= notice %></p>

  <div class="form-control" style="width: 40%">
    <strong>First name:</strong>
    <span style="margin-left: 10px"><%= @user.first_name %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Last name:</strong>
    <span style="margin-left: 10px"><%= @user.last_name %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Username:</strong>
    <span style="margin-left: 10px"><%= @user.username %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Password:</strong>
    <span style="margin-left: 10px"><%= @user.password %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Dob:</strong>
    <span style="margin-left: 10px"><%= @user.dob %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Role:</strong>
    <span style="margin-left: 10px"><%= @user.role %></span>
  </div>
</div>

