<%= form_with(model: patient, local: true, :html => {class: "container"}) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
        <% patient.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :first_name, "First Name", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :first_name, class: "form-control" %>
    </div>

  </div>

  <div class="form-group">
    <%= form.label :last_name, "Last Name", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :last_name, class: "form-control "%>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :gender, "Gender", class:"col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.select :gender, %w(Male Female Other), {}, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :dob , "Date of Birth", class: "col-md-4 control-label"%>
    <div class="col-md-4">
      <%= form.date_select :dob,{start_year: Date.today.year - 60 }, class:"datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :appointement, "Appointment Date", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.date_select :appointement,{start_year: Date.today.year}, class:"datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :admission, "Admission Date", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.date_select :admission,{star_year: Date.today.year}, class:"datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :discharge, "Discharge Date", class: "col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.date_select :discharge,{start_year: Date.today.year}, class:"datepicker" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :doctor_name, "Doctor Name", class:"col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :doctor_name, class:"form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= form.label :hospital_name, "Hospital Name", class:"col-md-4 control-label" %>
    <div class="col-md-4">
      <%= form.text_field :hospital_name, class:"form-control" %>
    </div>
  </div>
    </br>
  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-default btn-primary" %>
  </div>
<% end %>
