<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
<div class="container">

  <p id="notice"><%= notice %></p>
  <h1>Patient Details</h1>

  <div class="form-control" style="width: 40%">
    <strong>First name:</strong>
    <span style="margin-left: 10px"><%= @patient.first_name %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Last name:</strong>
    <span style="margin-left: 10px"><%= @patient.last_name %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Gender:</strong>
    <span style="margin-left: 10px"><%= @patient.gender %></span>
  </div>
  <br/>
   <div class="form-control" style="width: 40%">
    <strong>Dob:</strong>
     <span style="margin-left: 10px"><%= @patient.dob %></span>
   </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Appointement:</strong>
    <span style="margin-left: 10px"><%= @patient.appointement %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Admission:</strong>
    <span style="margin-left: 10px"><%= @patient.admission %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Discharge:</strong>
    <span style="margin-left: 10px"><%= @patient.discharge %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Doctor name:</strong>
    <span style="margin-left: 10px"><%= @patient.doctor_name %></span>
  </div>
  <br/>
  <div class="form-control" style="width: 40%">
    <strong>Hospital name:</strong>
    <span style="margin-left: 10px"><%= @patient.hospital_name %></span>
  </div>
</div>

